- content_for :title, 'Ajouter son annonce - Ribérent'

%h2.text-center Ajouter son annonce
= simple_form_for @place, url: my_places_path do |f|
  .container
    .row
      .col-md-6
        = f.input :title
        = f.input :address
        = f.input :transaction_type, collection: Place.transaction_types, selected: 1
        = f.input :surface
      .col-md-6
        = f.input :ges
        = f.input :energy_class
        = f.input :price
        = f.label :pictures, id: "label_pictures"
        = f.input :pictures, as: :attachinary, label: false
      .col-md-offset-1.col-md-10
        = f.input :description
    .text-center
      = f.submit t(:add), class: "btn btn-warning"

- content_for :after_js do
  :javascript
    $(document).ready(function() {
      $("#place_pictures").css('visibility', 'hidden');
      $("label#label_pictures").addClass('input-photo');
      $("label#label_pictures").text('Cliquez et choissisez votre photo');
      $('#place_description').wysihtml5({ toolbar: {
        "image": false
        }
      });
    });
