%h2.text-center Ajouter son local
= simple_form_for @place, url: my_places_path do |f|
  .container
    .row
      .col-md-6
        = f.input :title
        = f.input :address
        = f.input :transaction_type, collection: %w(Achat Location), selected: 1
        = f.input :surface
      .col-md-6
        = f.input :ges
        = f.input :energy_class
        = f.input :price
        = f.input :pictures, as: :attachinary
      .col-md-offset-1.col-md-10
        = f.input :description, input_html: { "rows" => 4 }