%h2.text-center Ajouter son local
= simple_form_for @place, url: my_places_path do |f|
  .container
    .row
      .col-md-6
        = f.input :title, label: t(".title")
        = f.input :address, label: t(".address")
        = f.input :transaction_type, collection: %w(Achat Location), selected: 1
        = f.input :surface
      .col-md-6
        = f.input :ges
        = f.input :energy_class, label: t(".energy_class")
        = f.input :price, label: t(".price")
        = f.input :pictures, as: :attachinary, label: t('.pictures')
      .col-md-offset-1.col-md-10
        = f.input :description, input_html: { "rows" => 4 }