- content_for :title, "#{@place.title} - Ribérent"

.place-banner{ style: "background-image: url('#{cl_image_path @place.pictures.first.path}');"}
.wrapper-place
  .container
    .row
      .col-md-7
        .card.sm-marged
          .place-title= @place.title
          .split.sm-marged
            .card-price= money @place.price
            .card-surface= area @place.surface
          .description= raw(@place.description)
      .col-md-5
        .place-contact
          .text-center
            Contacter
            = "#{@place.user.first_name} #{@place.user.last_name.split("").first.upcase}."
          .text-center appeler au
          .text-center.place-phone= format_phone_number @place.user.phone_number
          .text-center ou
          .text-center
            = link_to 'Contacter par mail', new_contact_path(place_id: @place.id), data: { toggle: :modal, target: '#contact-modal' }, class: 'btn-orange'
    .row
      .col-md-6
        .place-card-title Atouts
    / Categories cards
    .row
      .col-md-12
        .row
          - @categories.each do |cat|
            .col-md-6
              .place-category.sm-marged.split-start
                %div= image_tag svg_selector(cat.name), class: "category-svg"
                %div
                  .place-category-title= cat.name.capitalize
                  - options = @place.options.where(category: cat)
                  .place-options-name= options.any? ? options.map { |opt| opt.name.capitalize }.join(", ") : '&mdash;'.html_safe
    .row
      .col-md-6
        .place-card-title
          DPE
        %div= render "graph_dpe"
      .col-md-6
        .place-card-title
          GES
        %div= render "graph_ges"
    .row
      .col-md-6
        .sm-marged.place-card-title Adresse
        .place-card-address= @place.address
  = render "places/map", markers_data: @markers_data, height: "300px"

#contact-modal.modal.fade.container
  .modal-dialog
    .modal-content
